/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

:root {
    --primary: #600099;
    --primary-dark: #4a2281;

    --secondary: #fcc91f;

    --link: #04bfbf;
    --link-hover: #acf0f2;

    --light-text: #ffffff;
    --dark-text: #121212;

    --highlight: #607d8b;

    --background-dark: #363636;
    --background-light: #e7e7e7;

    --nav-menu-height: 7.8em;
}

html {
    background-color: var(--primary-dark);
    color: var(--light-text);
    font-size: 1.3em;
    line-height: 1.4;

    font-family: 'Poppins', sans-serif
}

h1 {
    font-family: 'Teko', Verdana, sans-serif;
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    color: var(--secondary);
    font-family: 'Signika Negative', Geneva, sans-serif;
}

em {
    color: var(--secondary);
}

a, a:visited {
    color: var(--link);
}

a:hover {
    color: var(--link-hover);
}

article, .announcement {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.wrapper {
    position: relative;

    height: 100%;
    width: 100%;

    left: 50%;
    transform: translateX(-50%);
}

header {
    background-color: var(--background-light);
    box-shadow: 0 0 0.25em 0.25em var(--background-light);

    top: 0;
    height: 5em;
    width: 100%;

    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

header .wrapper {
    z-index: 1;
}

header .logo img {
    height: 30vw;
    width: auto;
    max-height: 5em;
    min-height: 1em;
}

header nav {
    position: relative;
    top: 0.3em;
    padding-bottom: 0;

    height: 100%;
    max-height: 0;
    transition: all .2s ease-out;
    width: 100%;
    background-color: var(--background-dark);

    overflow: hidden;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.navigation a {
    text-decoration: none;
    display: block;
    color: var(--link);
    font-size: 1.2em;
    font-weight: bold;

    height: 2.5em;
    width: 100%;

    text-align: center;
}

.navigation a:hover {
    color: var(--link-hover);
}

.navigation a div {
    top: 50%;
    transform: translateY(50%);
}

.hamburger {
    cursor: pointer;
    float: right;
    padding: 1em 1em;
    top: 50%;
    transform: translateY(50%);
}

.hamburger-line {
    background: var(--primary);
    display: block;
    position: relative;
    height: 0.3em;
    width: 3em;
}

.hamburger-line::before,
.hamburger-line::after{
    background: var(--primary);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .1s ease-out;
    width: 100%;
}

.hamburger-line::before{
    top: 0.6em;
}

.hamburger-line::after{
    top: -0.6em;
}

.side-menu {
    display: none;
}

.side-menu:checked ~ nav {
    max-height: 100%;
    height: fit-content;
    padding-bottom: var(--nav-menu-height);
}

.side-menu:checked ~ .hamburger .hamburger-line {
    background: transparent;
}

.side-menu:checked ~ .hamburger .hamburger-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamburger .hamburger-line::after {
    transform: rotate(45deg);
    top: 0;
}

.announcement {
    background-color: var(--background-light);
    color: var(--dark-text);
    box-shadow: 0 0 0.25em 0.25em var(--background-light);
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.2em;
}

.announcement hr {
    border-top: 1px solid var(--dark-text);
}

.announcement em {
    color: var(--dark-text);
}

.announcement a {
    color: var(--primary);
}

.announcement a:hover {
    color: var(--link);
}

article iframe,
article img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

main {
    display: inline-block;
}

main article {
    background-color: var(--primary-dark);
}

main article > article {
    margin-top: 1em;
    margin-bottom: 3em;
}

main article > article:last-child {
    margin-bottom: 1em;
}

article img {
    width: 80%;
}

footer {
    background-color: var(--background-dark);
    box-shadow: 0 0 0.5em 0.5em var(--background-dark);

    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer .wrapper {
    text-align: center;
}

footer .copyright {
    margin: 0;
    text-align: center;
}

footer .wrapper > article {
    display: inline-block;
    vertical-align: top;
    margin: 0 2em;
}

footer nav ul {
    list-style: none;
    padding-inline-start: 0;
}

footer nav ul li {
    margin: 0.5em 0;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/
::selection {
    background: var(--highlight);
    text-shadow: none;
}

::-moz-selection {
    background: var(--highlight);
    text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--secondary);
    margin: 1em 0;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden,
[hidden] {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 1250px) {
    .wrapper {
        width: 1200px;
    }
}

@media only screen and (min-width: 768px) {
    .navigation {
        max-height: none;
        top: 0;
        float: right;
        width: fit-content;
        background-color: transparent;
        transition: none;
        margin-right: 0.3em;
    }

    .navigation li {
        float: left;
        margin-left: 2em;
    }

    .navigation a {
        color: var(--primary);
    }

    .navigation a:hover {
        background-color: transparent;
        color: var(--link);
    }

    .hamburger {
        display: none;
    }

    .navigation hr {
        display: none;
    }
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
https://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
